<table  class="table"style="width: 100%; position:center;">
    <thead>
      <tr>
        <th scope="col" ># </th>
        <th scope="col">Nom du Livreur</th>
        <th scope="col">Date De Mission</th>
       
        
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td routerLink="/details">Ayoub </td>
        <td >08-01-2022</td>
       
      </tr>
      <tr>
        <th scope="row">2</th>
        <td  routerLink="/details">Wadii</td>
        <td>05-07-2022</td>
       
      </tr>
      <tr>
        <th scope="row">3</th>
        <td   routerLink="/details">Mourad</td>
        <td>21-05-2022</td>
      </tr>
    </tbody>
  </table>
  
  
