

<body>
    <section class="wrapper">
        <div class="container">
            <div class="img__container">
            <img src="https://img-4.linternaute.com/ES-uCzASdZT3RaUJPT9ABC0vWts=/1500x/smart/3691fb9226fe4dc9b87b5b9fdf45ac10/ccmcms-linternaute/10660678.jpg" alt="colis" class="img"> 
        </div>   
            <div class="content">
                <h2 class="subtitle">Bienvenue</h2>
                <h1 class="title">Suivez Votre Colis</h1>
                <input type="text" class="text" placeholder=" Numero de suivi" name="Code" required>
                <input type="submit" value="Suivre"routerLink="/suivre" class="subscribe">
                <p class="text"></p>
            </div>
        </div>
    </section>
  </body>