
          
  
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Surveiller votre colis</h5>
              <h6>Colis Statut:Votre colis....</h6>
              <h1>Details:</h1>
              <p class="product-description"> <strong>Date:</strong></p>
              <p class="price"><strong> Depart: </strong></p>
              <p class="vote"><strong>Arrive: </strong></p>
             
              <p class="vote"><strong>Poids : </strong></p>
              
              <p class="vote"><strong>Nom de l'expediteur:</strong></p>
             
              <p class="vote"><strong>Numero de telephone:</strong></p>
        
              <p class="vote"><strong>Nom de Receveur:</strong></p>
              <p class="vote"><strong>Numero de telephone:</strong></p>
        <hr>
        <button  class="btn  btn-secondary  btn-lg" routerLink="/avis">Bien Recu</button>
        <button  class="btn  btn-secondary  btn-lg" routerLink="/accueil0">Quitter</button>
            </div>
          </div>


        

