<mat-nav-list>
  <div class="logo py-3">
    <img src="./assets/colis.webp"  />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">Mon Livreur</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/home">
    <mat-icon>home</mat-icon> Accueil
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/profil">
    <mat-icon>update</mat-icon> Profil
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/publier"> 
    <mat-icon>add </mat-icon> Publier </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/chercherlivreur"> 
    <mat-icon>search</mat-icon> Cherher un livreur </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/missions"> 
    <mat-icon>verified_user</mat-icon> Missions </a>
  <a mat-list-item  routerLinkActive="list-item-active" routerLink="/payer"> <mat-icon>euro_symbol</mat-icon> Payer</a>
</mat-nav-list>
