<div class="container-fluid page">
  <div class="d-flex page__box p-3 mt-2">Qui Somme Nous</div>
  <div class="page__content shadow p-3 position-relative">
    <div class="page__content-data position-absolute text-center">
      

      L’objectif de Mon Livreur est de répondre aux besoins des personnes possédant des colis à envoyer en les mettant en relation avec des particuliers effectuant un voyage,  entre pays
      
      La plateforme se donne pour but de mobiliser une très large communauté dans le domaine du transport de colis afin de faciliter l’envoi et/ou la livraison partout dans le monde.
    </div>
  </div>
</div>
