<div class="card">
	<div class="card-body">
	  <h5 class="card-title">Mission confirmée</h5>
	  <p class="product-description"> <strong>Date:</strong></p>
	  <p class="price"><strong> Depart: </strong></p>
	  <p class="vote"><strong>Arrive: </strong></p>
	 
	  <p class="vote"><strong>Poids : </strong></p>
	  
	  <p class="vote"><strong>Nom de l'expediteur:</strong></p>
	 
	  <p class="vote"><strong>Numero de telephone:</strong></p>

	  <p class="vote"><strong>Nom de Receveur:</strong></p>
	  <p class="vote"><strong>Numero de telephone:</strong></p>
<hr>
<button  class="btn  btn-secondary  btn-lg" routerLink="/updatemission">Mise A jours</button>
<button  class="btn  btn-secondary  btn-lg" routerLink="/">Annuler</button>
	</div>
  </div>